# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.asv

**/Thirdparty/g2o/lib/
**/Thirdparty/g2o/bin/
**/Thirdparty/OpenCV/
**/Thirdparty/Pangolin/

**/build/

**/Lab0/Apps/task_1
**/Lab0/Apps/task_2
**/Lab0/Apps/task_3

datasets/**